.mainBody {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.header {
    font-size: 50px;
    font-family: cursive;
    display: flex;
    width: 80%;
    margin-left: 10%;
}


.headerIcons {
    margin-left: auto;
}

.headerIcons i {
    margin-right: 20px;
}

.allVideos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.videoLabel {
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 50px;
}

.singleVideo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    width: 45%;
}

.singleVideo iframe {
    border: solid 3px black;
    width: 420px;
    height: 255px;
}

.voteButton {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    box-shadow: black 2px 2px;
}

.allRankings
{
    margin-top: 50px;
    margin-left: 10%;
    width: 85%;
}
.top5Body {
    border: solid 3px black;
    padding-top: 5%;
    margin-top: 20px;
}

.rankHeader {
    display: flex;
}

.headerHeadline {
    width: 50%;

}

.headerVotes {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rankBody{
    margin-top: 20px;
}

.rankBody img {
    width: 150px;
    height: 100px;
    margin-right: auto;
    margin-left: 10px;

}

.songTitle
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.headlineInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableRow {
    display: flex;
    border-top: black solid 3px;
}

.allRankings label {
    font-size: 20px;
}
.pageLinks {
    display: flex;
    margin-left: auto;
}
.pageLinks a
{
    margin-right: 5px;
}

.rankingsRoute {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid black;
    padding: 5px;
    cursor: default;
    text-decoration: none;

    color: black;
}

.rankingsRoute:hover {
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px black;
}

